.download-section {
  display: grid;
  font-family: 'WhitneyBook';
  background: url('/assets/fondo-naranja.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  color: white;
  text-align: center;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-content: center;
  transition: filter 1.00s ease;
  filter: grayscale(100%); /* Fondo en gris por defecto */
}

.download-section:hover {
  filter: grayscale(0%); /* El fondo se muestra a color al pasar el mouse */
}


.download-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: 100;
  line-height: 1;
}

.download-section p {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color:#fcd9cb;
  text-align: left;
  width: 400px;
  font-weight: 100;
}

.download-header{
  display: grid;
  justify-content: start;
  align-content: center;
  flex-grow: 1;
  text-align: left;
}

.text-buttons{
  font-family: 'WhitneyBook', sans-serif;  
  display: inline-flex;
  color:  #fcd9cb;
  height: 500px;
  align-items: center;
  gap: 80px;
}

.text-strong{
  color: white;
 font-weight: 700;
 font-size:  3rem;
 font-family:'DSType-ActaExtraBold';
}

.text-strong1{
  color: white;
  font-weight: 700;
  font-size:2.5rem;
 }
.buttons {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  height: 20px;
  width: 550px;
  align-content: center;
}
.buttons-intro{
  gap: 36px;
  display: flex;
}
.buttons button {
  font-family:'WhitneySemibold';
  padding: 15px 25px;
  font-size: 1.2rem;
  height: 60px;
  border: 3px solid white;
  border-radius: 100px;
  background: none;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align:justify ;
}

.buttons button:hover {
  background-color: white;
  color: #e65725;
}

.blur {
  filter: blur(5px);
  transition: filter 0.60s ease-in-out;
}

.blur.visible {
  filter: blur(0);
}

/* Para pantallas entre 768px y 1600px */
@media (max-width: 1600px) and (min-width: 768px) {
  .download-main{
    display: grid;
    justify-content: center;
    align-content: center;
  }
  .download-header{
    display: grid;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    text-align: left;
    margin-right: 50px;
  }
  .download-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 100;
    line-height: 1;
  }
  .text-buttons{
    font-family: 'WhitneyBook', sans-serif;  
    display: inline-flex;
    color:  #fcd9cb;
    height: 500px;
    align-items: center;
    gap: 80px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .buttons {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    height: 20px;
    width: 550px;
    align-content: center;
    justify-items: center;
  }
}

@media (max-width: 768px) {
  .download-section {
    display: grid;
    background: url('/assets/fondo-naranja.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: white;
    text-align: center;
    height: 100vh;
    justify-content: center;
    align-content: center;
  }
  .download-main{
    width: 240px;
  }
  .download-section h2 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  
  .download-section p {
    font-size: 1.5rem;
    color:  #fcd9cb;
    text-align: left;
    width: 250px;
  }
  
  .download-header{
    display: grid;
    align-content: space-evenly;
    flex-grow: 1;
    text-align: left;
    height: 350px;
    width: 320px;
  }
  
  .text-buttons{
    display: inline-flex;
    color:  white;
    height: 500px;
    align-items: center;
    gap: 80px;
  }
  
  .text-strong{
    color: white;
   font-weight: 700;
   font-size:xx-large;
  }
  
  .text-strong1{
    color: white;
    font-weight: 700;
    font-size:26px;
   }
  .buttons {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    height: 400px;
    width: 251px;
    align-content: center;
  }
  .buttons button {
    font-family:'WhitneyMedium';
    padding: 15px 25px;
    font-size: 0.8rem;
    border: 2px solid white;
    border-radius: 100px;
    background: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align:justify ;
    height: 50px;
  }
  
  .buttons button:hover {
    background-color: white;
    color: #e65725;
  }
}

  