.footer-content {
  background-color: #6f7dbc;
  text-align: center;
  height: 40vh;
  width: 100%;
  align-content: center;
}

.footer-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.footer-logos img {
  width: 90px;
}

.footer-p {
  font-size: 1rem;
  margin-top: 10px;
  color: #fff;
  font-family: 'WhitneyBook';
}

@media (max-width: 768px) {
  .footer-content {
    text-align: center;
    padding: 40px 10px 20px 10px;
    height: 180px;
    align-content: center;
  }
  
  .footer-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .footer-logos img {
    width: 55px;
  }
  
  .footer-p {
    font-size: 0.7rem;
    margin-top: 10px;
    color: #ccc;
  }
}
