.container{
  width: 100%;
  height: 100vh; 
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
}

.main{
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
}


.logo {
  width: 110px; 
  margin-left: 30px;
  margin-right: auto;
  margin-top: 30px;
}

h1 {
  color: #ff6d27;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 2rem;
  color: #ff6d27;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 1.2;
}
.p-strong{
  color: #8484ff;
  font-weight: 400;
}
.text-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-bottom: 30px;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
}

.logos img {
  width: 150px; 
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; 
  flex-direction: column;
  align-items: center;
}

.cta-button {
  border: 4px solid #ff6d27;
  background: transparent;
  color: #ff6d27;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.3s ease;
  width: 300px;
  margin:20px;
}

.cta-button:hover {
  background-color: #ff6d27;
  color: #ffffff;
  border: 4px solid #ff6d27;
}

@media (max-width: 768px) {
  .logo {
    width: 70px; 
  }

  .main{
    font-family: 'WhitneySemibold', sans-serif;
    justify-content: center;
    align-content: center;
  }

  h1 {
    color: #f97f53;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .text-logos {
    display: flex;

  }

  .logos {
    display: grid;
    justify-content: center;
    align-items: center;
    gap:8px;
  }

  .logos1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    place-content: space-between;
  }

  .logos2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
  }

  .logos img {
    width: 90px; 
  }

  p {
    font-size: 1.2rem;
    line-height: 1.2;
  }

}