.container{
  font-family: 'DSType-ActaExtraBold';
  width: 100%;
  height: 100vh; 
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
}

.main{
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
}


.logo {
  width: 110px; 
  margin-left: 30px;
  margin-right: auto;
  margin-top: 30px;
}

h1 {
  color: #e8521d;
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  font-size: 2.2rem;
  color: #e8521d;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 1.2;
}
.p-strong{
  font-family: 'WhitneySemibold';
  color: #6f7dbc;
  font-weight: 400;
}
.text-logos {
  font-family: 'WhitneyBook';
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-bottom: 30px;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:40px;
  cursor: pointer;
}

.logos img {
  height: 180px; 
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 40px; 
  flex-direction: column;
  align-items: center;
}

.cta-button {
  border: 4px solid #e8521d;
  font-family: "WhitneySemibold";
  background: transparent;
  color: #e8521d;
  padding: 10px 20px;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 100px;
  transition: all 0.3s ease;
  width: 330px;
  height: 70px;
  margin:5px;
}

.cta-button:hover {
  background-color: #e8521d;
  color: #ffffff;
  border: 4px solid #e8521d;
}
/* Para pantallas entre 768px y 1600px */
@media (max-width: 1600px) and (min-width: 768px) {
  .main{
    display: grid;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
  }
  h1 {
    display: flex;
    color: #e8521d;
    font-size: 3rem;
    margin-bottom: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  .text-logos {
    font-family: 'WhitneyBook';
    display: flex;
    flex-direction: column;
  }
  .logos img {
    width: 120px; /* Ajusta según lo necesario */
  }
}

@media (max-width: 768px) {
  .container{
    font-family: 'DSType-ActaExtraBold';
    width: 100%;
    height: 100vh; 
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
  }
  .logo {
    width: 70px; 
  }

  .main{
    justify-content: center;
    align-content: center;
  }

  h1 {
    color: #f97f53;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .text-logos {
    display: flex;
    font-family: 'WhitneyBook';
  }

  .logos {
    display: grid;
    justify-content: center;
    align-items: center;
    gap:0px;

  }

  .logos0 {
    margin: auto;
    margin-bottom: -30px;
    height: 140px;
  }

  .logos1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    place-content: space-between;
    height: 110px;
  }

  .logos2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    height: 120px;
  }

  .logos img {
    width: 90px; 
  }

  p {
    font-size: 1.4rem;
    line-height: 1.2;
    font-family: 'WhitneyBook';
  }

  .cta-button {
    border: 4px solid #e8521d;
    font-family: "WhitneySemibold";
    background: transparent;
    color: #e8521d;
    padding: 10px 20px;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 100px;
    transition: all 0.3s ease;
    width: 240px;
    height: 50px;
    margin:5px;
  }
}