.container{
  width: 100%;
  height: 100vh; /* Altura de toda la pantalla */
  display: flex;
  flex-direction: column;
}

.main{
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
}


.logo {
  width: 110px; 
  margin-bottom: 20px;
  margin-right: auto;
}

h1 {
  color: #f97f53;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 2rem;
  color: #f97f53;
  margin-bottom: 30px;
  font-weight: 400;
}
.p-strong{
  color: #4040ff;
  font-weight: 400;
}
.text-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-bottom: 30px;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
}

.logos img {
  width: 150px; 
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Deja algo de espacio al final */
}

.cta-button {
  border: 2px solid #e63946;
  background: transparent;
  color: #e63946;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-color: #e63946;
  color: #ffffff;
}

@media (max-width: 768px) {
  .logo {
    width: 70px; 
  }

  .main{
    justify-content: center;
    align-content: center;
  }

  h1 {
    color: #f97f53;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .text-logos {
    display: flex;

  }

  .logos {
    display: grid;
    justify-content: center;
    align-items: center;
    gap:8px;
  }

  .logos1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    place-content: space-between;
  }

  .logos2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
  }

  .logos img {
    width: 150px; 
  }

  p {
    font-size: 0.9rem;
  }

}